


<form action='result' Method='post'>

<ul>
<li  let *ngFor="let question of answer$">
<label for="name">{{question.Question}}</label>
<ul>
<div class="radio">
    <label>
        <input type="radio" name="{{question.Question}}" id="1" value="{{question.Question}}" > {{question.option1}}
    </label>
</div>
</ul>
<ul>
<div class="radio">
    <label>
        <input type="radio" name="{{question.Question}}" id="1" value="{{question.Question}}" > {{question.option2}}
    </label>
</div>
</ul>
<ul>
<div class="radio">
    <label>
        <input type="radio" name="{{question.Question}}" id="1" value="{{question.Question}}" > {{question.option3}}
    </label>
</div>
</ul>
<ul>
<div class="radio">
    <label>
        <input type="radio" name="{{question.Question}}" id="1" value="{{question.Question}}" > {{question.option4}}
    </label>
</div>
</ul>
</ul>

 <button type= submit class="btn btn-primary" >submit</button> 
</form>
  
