<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>website detail</h2>
      <h5>picture:</h5>
      <div class="fakeimg"><img src="" class="img-rounded"></div>
      <p>introduce..</p>
      
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>Title </h2>
      <h5>Subtitle</h5>
      <div class="fakeimg">Image</div>
      <p>sssssssssssssss..</p>
      <p>sssssssssssssssssssssssssssssssss！</p>
      <br>
      <h2>Title </h2>
      <h5>Subtitle</h5>
      <div class="fakeimg">image</div>
      <p>ssssssssssssssssssssssssssss..</p>
      <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
  </div>
</div>
 
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>XEON 2018</p>
</div>