<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="fakeimg"><img src="../../assets/logo.png" width="300" height="120"class="img-rounded"></div>
      <p>About Quiz App</p>
      <p>Nowadays, with the development of the internet, traditional education is influencing by internet and 
        online studying become more and more popular. The Quiz App is a fashion way to use in the class or after school study. </p>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>Contact us</h2>
      <div class="fakeimg"><img src="https://www.shareicon.net/data/128x128/2015/10/04/651051_phone_512x512.png" width="100" height="100"></div>
      <p>Phone: +61 888xxxxx</p>
      <p>Email: admin@quizapp.com</p>
      <p>Address: CDU, Darwin, Australia</p>
      <br>
      <h2>Feedback </h2>
      <div class="fakeimg"><img src="https://www.shareicon.net/data/128x128/2016/11/16/854157_pencil_512x512.png" width="100" height="100"></div>
      <h5>Please send feedback to</h5>
      
      <p>feedback@quizapp.com</p>
      
    </div>
  </div>
  <hr>
  <footer>
      <p>&copy; PRT455 Group XEON 2018</p>
  </footer>
</div>
 
<!-- <div class="jumbotron text-center" style="margin-bottom:0">
</div> -->
